$blue: blue;
$purple: purple;
$green: green;
$bg-color: rgba(255,255,0,0.39);
$arial: Arial, Helvetica, sans-serif;
$franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$times-new-roman: 'Times New Roman', Times, serif;
$lucida-sans:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
$georgia: Georgia, 'Times New Roman', Times, serif;


html, body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  height: 10rem;
  background-color: $bg-color;
  text-align: center;
  padding-top: 2rem;
  font-family: $arial; }

h1 {
  font-family: $arial; }

main {
  margin: .5rem; }

.huge {
  font-family: $times-new-roman;
  font-size: 10rem;
  color: $blue; }

.big {
  font-family: $times-new-roman;
  font-size: 8rem;
  color: $blue; }

.medium {
  font-family: $lucida-sans;
  font-size: 3rem;
  color: $purple; }

.middle {
  font-family: $georgia;
  font-size: 3rem;
  color: $purple; }

.small {
  font-family: $franklin;
  font-size: 2rem;
  color: $green; }

.tiny {
  font-family: $franklin;
  font-size: .5rem;
  color: $green;
  margin-bottom: 2rem; }

footer {
  height: 10rem;
  background-color: $bg-color;
  text-align: center;
  font-family: $arial;
  padding-top: 1rem; }
